* {
    color: #000080;
    font-family: "Epunda Slab", sans-serif;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    /* color: */
}

/* HAMBURGER NAVIGATION */
.hamburger {
    background-color: #eee;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
}

.navigation li.current {
    background-color: #add8e6;
}

.navigation a:hover {
    border-bottom: solid 2px #000080;
}

/* MAIN */
.hero {
    display: block;
    margin: auto;
    width: 100%;
}

h1 {
    text-align: left;
    margin-left: 8px;
}

#live {
    margin: 8px;
}

h2 {
    text-align: center;
    background-color: #add8e6;
    margin-bottom: 0;
    padding: 4px;
}

#events div, #weather div, #forecast div {
    background-color: #eee;
    padding: 10px;
}

#events h3 {
    border-bottom: solid 1px #000080;
}

#weather span {
    font-size: 50px;
}

#btns {
    margin-left: 8px;
}

/* MAIN CARDS GRID VIEW*/
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .5rem;
    margin: 8px;
}

#cards section {
    background-color: #eee;
    text-align: left;
}

#cards h2 {
    margin-top: 0;
    background-color: #eee;
    border-bottom: solid 1px #000;
}

#cards section .imgAndInfo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
}

#cards img {
    width: 90%;
    height: auto;
    border: solid 1px #000;
    margin:  15px 5px;
}

#cards div {
    overflow-wrap: anywhere;
}

/* MAIN CARDS LIST VIEW */
#members {
    margin: 8px;
}

#members h2 {
    text-align: left;
    padding: 4px;
}

/* FOOTER */
footer {
    /* grid will go in directory-large.css with 3 columns */
    padding: 1rem 10px;
    text-align: left;
}

/* Contact Section */
.contact {
    padding-left: 8px;
}

.bold {
    font-weight: bold;
}

/* Social Media Section */
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 44px;
    height: 44px;
}

.social a:hover {
    padding: 2px;
    border-bottom: solid 2px #000080;
}