@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .live {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 8px;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}