@media only screen and (min-width: 38rem) {
    main {
        margin: 0 auto;
    }

    #live {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 8px;
    }

    #forecastSection {
        display: flex;
    }
}