* {
    color: #000080;
    font-family: "Epunda Slab", sans-serif;
}

/* MAIN */
.hero {
    display: block;
    margin: auto;
    width: 100%;
}

h1 {
    text-align: left;
    margin-left: 8px;
}

#join {
    margin: 8px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: #add8e6;
    position: absolute;
}

#join:hover {
    color: #add8e6;
    background-color: #000080;
}

#live {
    margin: 8px;
}

h2 {
    text-align: center;
    background-color: #add8e6;
    margin-bottom: 0;
    padding: 4px;
}

#events div, #weather div, #forecast div {
    background-color: #eee;
    padding: 10px;
}

#events h3 {
    border-bottom: solid 1px #000080;
}

#weather figure, #weather p {
    text-align: center;
    font-size: 30px;
}

#weather figure img, #forecastSection figure img {
    background-color: #ffffff;
    border-radius: 10px;
}

#forecastSection {
    display: grid;
    text-align: center;
    font-size: 18px;
}

/* MAIN CARDS GRID VIEW*/
#spotlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .5rem;
    margin: 8px;
}

#spotlights section {
    background-color: #eee;
    text-align: left;
}

#spotlights h2 {
    margin-top: 0;
    background-color: #eee;
    border-bottom: solid 1px #000;
}

#spotlights section .imgAndInfo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
}

#spotlights img {
    width: 90%;
    height: auto;
    border: solid 1px #000;
    margin:  15px 5px;
}

#spotlights div {
    overflow-wrap: anywhere;
}