@media only screen and (min-width: 38rem) {
    body {
        max-width: 80%;
        margin: 0 auto;
    }

    #contact {
        max-width: 20%;
        margin: 0 auto;
    }

    form {
        max-width: 20%;
        margin: 0 auto;
    }

    label, input[type=text], input[type=tel], input[type=email], textarea {
        display: block;
    }

    input[type=submit] {
        margin-top: 8px;
    }
}